.input {
    height: 54px;
    padding-inline: 25px;
    width: 100%;
    background-color: transparent;
    border: 1px solid var(--color-ligth-gray);
    border-radius: 30px;
    color: var(--color-ligth);
}

.input::placeholder {
    color: var(--color-ligth-gray);
}


.input:hover {
    border-color: var(--color-ligth);
}

.input:focus {
    color: var(--color-dark);
    background-color: var(--color-ligth-gray);
    outline: none;
}